@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    font-family: "Roboto";
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
nav{
    padding: 1rem;
    border-bottom: 1px solid white;
}
main{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
section{
    width: 70%;
    text-align: center;
}
aside h1{
    text-align: center;
}
aside{
    width: 30%;
    text-align: left;
}
.section-index{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 250px 250px;
    justify-content: space-between;
    padding: 1rem;

}
.tarjetas-proyectos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.proyecto-1-1{
    width: 80%;
    height: 100%;
    border-radius: 20px;
}
.proyecto-1-2{
    width: 20%;
    height: 100%;
    border-radius: 20px;
}
.tarjetas-proyectos{
    margin-top: 1rem;
    gap: 5px;
    transition: 70ms;
    background: rgba(255, 255, 255, 0.2); /* Fondo blanco semitransparente */
    border-radius: 10px; /* Bordes redondeados */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    -webkit-backdrop-filter: blur(10px); /* Para navegadores webkit */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde sutil */
    position: relative; /* Necesario para el fondo si se usa dentro */
    opacity: 50%;
}
.links-header{
    gap: 2rem;
}
p{ 
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.tarjetas-proyectos:hover{
    opacity: 100%;
}
.section-titles{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px 300px;
    justify-content: space-between;
    padding: 1rem;
}
.perfil-info #mail{
    font-size:small;
    word-wrap: break-word;
}
.perfil-info{
    word-wrap: break-word;
}
.perfil-info img{
    float: right;
    width: 150px;
    height: 150px;
    margin-left: 1rem;
    border-radius: 20px;
}
.section-resume{
    flex-direction: column;
}
footer{
    display: none;
}
@media (max-width: 1405px){
    main{
        flex-wrap: wrap;
    }
    aside{
        padding: 1rem;
        width: 100%;
    }
    .section-index{
        width: 100%;
    }
    .section-titles{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .section-titles a{
        margin-bottom: 1rem;
    }
    .section-resume{
        width: 100%;
    }
}
@media (max-width: 900px){
    .section-index{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .info-tarjetas{
        display: none;
    }
    ul li{
    display: flex;
    }
    .tarjetas-proyectos:hover{
        padding: 1rem;
    }
}
@media(max-width: 600px){
    nav h1, span{
        font-size: 10px;
    }
}
/* ORDENADO */
nav, .links-header{
    justify-content: space-between;
}
.cv, .titulos{
    flex-direction: column;
}
nav, .links-header, .cv, .titulos{
    display: flex;
    align-items: center;
}
